* {
  font-family: Harnitura Sans, sans-serif;
}

body {
  background-color: #181818;
}

h1 {
  text-align: center;
  color: #1F1F1F;
  -webkit-text-stroke: 1px #2B2B2B;
  text-shadow: 0 0 5px #000000;
}

div {
  color: #CCCCCC;
}

.title {
  text-align: center;
  font-weight: bold;
}

.title:not(:first-child) {
  margin-top: 2em;
}

.title > .item {
  margin: auto;
  margin-top: 4px;

}

.item {
  border: 1px solid #2B2B2B;
  background-color: #1F1F1F;
  padding: 4px;
  width: fit-content;
  text-align: left;
  font-weight: normal;
}

.item > * {
  margin-top: 4px;
}

.item:hover {
  box-shadow: inset 2px 2px #0068d6, inset -2px -2px #0068d6;
}

.group {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.gap {
  gap: 10px;
}

.row {
  flex-direction: row;
}